body {
  background-color: beige;
}

.site-container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

header {
  background-color: aliceblue;
  height: 118px;
}

nav {
  background-color: antiquewhite;
  height: 40px;
}

main {
  background-image: url(./images/91Cc9daVhtL.jpg);
  height: 1500px;
}

.button {
  
}

footer {
  background-color: aquamarine;
  height: 100px;
}
